*{
    margin: 0;
    padding: 0;
}
.stakeHolderFeedbackContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.stakeHolderFeedbackContainer .navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 25px;
    background: #d4e1ff;
    border-radius: 0px 0px 11px 11px;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.stakeHolderFeedbackContainer .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.stakeHolderFeedbackContainer .info h2{
    font-family: math;
    font-size: 30px;
    color: #df0000;
}

.stakeHolderFeedbackContainer .info p {
    font-size: 20px;
    font-family: math;
    color: #2f2914;
    font-weight: 700;
}

.stakeHolderFeedbackContainer .navbar h1 {
    color: red;
    font-size: 30px;
    font-family: emoji;
}
.stakeHolderFeedbackContainer .navbar h2 {
    font-family: math;
    color: #273c4f;
    font-size: 30px;
}
.stakeHolderFeedbackContainer .navbar p {
    font-size: 18px;
    font-family: math;
    background: #374685;
    padding: 8px 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.stakeHolderFeedbackContainer .analysis {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 15px;
    font-family: math;
    width: 90%;
}
.stakeHolderFeedbackContainer .analysis table{
    border-collapse: collapse;
}
.stakeHolderFeedbackContainer .analysis table thead tr th {
    background: #d4e1ff;
    padding: 5px 10px;
    /* text-align: center; */
}
.stakeHolderFeedbackContainer .analysis table tbody tr td {
    /* text-align: center; */
    padding: 5px 10px;
}
.stakeHolderFeedbackContainer .analysis table tbody tr #question {
    text-align: left;
}

.stakeHolderFeedbackContainer .report {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-radius: 50px;
    font-family: math;
}

.stakeHolderFeedbackContainer .report .details table{
    border-collapse: collapse;
    width: 30%;
}
.stakeHolderFeedbackContainer .report table {
    border-collapse: collapse;
}

.stakeHolderFeedbackContainer .report .details table thead tr th, .stakeHolderFeedbackContainer .report table thead tr th {
    background: #d4e1ff;
    padding: 5px 10px;
    /* text-align: center; */
}
.stakeHolderFeedbackContainer .report .details  tbody tr td, .stakeHolderFeedbackContainer .report tbody tr td {
    text-align: left;
    padding: 5px 10px;
}

.stakeHolderFeedbackContainer .report .details table tbody tr #heading, .stakeHolderFeedbackContainer .report table tbody tr #heading {
    font-weight: bold;
    font-family: math;
    font-size: 20px;
    /* text-align: center; */
    background: #d4e1ff;
}

.stakeHolderFeedbackContainer .report .details{
    display: flex;
    gap: 50px;
    width: 90%;
}

.stakeHolderFeedbackContainer .report  p {
    font-size: 17px;
    font-family: math;
}
.stakeHolderFeedbackContainer .report p span {
    padding: 7px 16px;
    background: #374685;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}
.stakeHolderFeedbackContainer .report .recommendations {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}
.stakeHolderFeedbackContainer .report .recommendations h1{
    text-align: center;
}
.stakeHolderFeedbackContainer .report .recommendations p{
    padding: 10px;
    font-size: 17px;
    font-family: math;
    background: #edfbff;
    border-radius: 17px;
}
